![alt text](https://raw.githubusercontent.com/ajb7141/ist-210/master/5%20Tables-Dealership%20(2).png
)

In [0]:
import sqlite3
connectionToDatabase = sqlite3.connect('CarDatabase') 

cursor = connectionToDatabase.cursor()

cursor.execute('''drop table IF EXISTS Car''')
connectionToDatabase.commit()

cursor.execute('''create table Car (fips text PRIMARY KEY, Price int, Make text, Miles int, Color text)''')
connectionToDatabase.commit()


cursor.execute('''insert into Car values ('2T3DK4DV8CW082696' ,'15000', 'Ford', '60000', 'Red' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Car values ('JH4KA4670LC010014' ,'23000', 'BMW', '30000', 'Black' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Car values ('JH4DB1570MS001469' ,'12500', 'Jeep', '90000', 'Black' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Car values ('WBAKF9C52BE619303' ,'17000', 'Mercedes', '70000', 'White' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Car values ('1GCCT14R0H2164173' ,'20000', 'Subaru', '45000', 'Blue' );''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''drop table IF EXISTS Maintenance''')
connectionToDatabase.commit()

cursor.execute('''create table Maintenance (MaintenanceID text PRIMARY KEY, Firstname text, Lastname text, Date text, car text)''')
connectionToDatabase.commit()


cursor.execute('''insert into Maintenance values ('345673' ,'John', 'smaith', '2018-02-22', '2T3DK4DV8CW082696' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Maintenance values ('123473' ,'John', 'jennifer', '2019-12-22', 'JH4KA4670LC010014' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Maintenance values ('567573' ,'Sam', 'macfrin', '2018-02-15', 'JH4DB1570MS001469' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Maintenance values ('946873' ,'John', 'macdell', '2017-12-12', 'WBAKF9C52BE619303' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Maintenance values ('475373' ,'Sam', 'Subarulios', '2019-12-12', '1GCCT14R0H2164173' );''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''drop table IF EXISTS Transactions''')
connectionToDatabase.commit()

cursor.execute('''create table Transactions (TransactionID text PRIMARY KEY, salesmen text, Car text, date text, customer text)''')
connectionToDatabase.commit()


cursor.execute('''insert into Transactions values ('3456' ,'2T3DK4DV8CW082696', 'Ford', '2019-01-22', '34567' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions values ('1234' ,'JH4KA4670LC010014', 'BMW', '2019-09-25', '12347' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions values ('5675' ,'JH4DB1570MS001469', 'Jeep', '2019-09-17', '56757' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions values ('9468' ,'WBAKF9C52BE619303', 'Mercedes', '2018-05-12', '94687' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions values ('4753' ,'1GCCT14R0H2164173', 'Subaru', '2019-08-15', '47537' );''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''drop table IF EXISTS Customres''')
connectionToDatabase.commit()

cursor.execute('''create table Customres (CustomerID text PRIMARY KEY, Firstname text, Lastname text, Phonenumber text, email text)''')
connectionToDatabase.commit()


cursor.execute('''insert into Customres values ('34567' ,'Ali', 'smaith', '8148269956', 'john@gmai.com' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Customres values ('12347' ,'Eli', 'jennifer', '8145769325', 'john@gmail.com' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Customres values ('56757' ,'Kayle', 'macfrin', '8145749325', 'sam@gmail.com' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Customres values ('94687' ,'Mark', 'macdell', '8145214785', 'macdall@gmail.com' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Customres values ('47537' ,'Sam', 'Subarulios', '8145784215', 'Samx@gmail.com' );''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''drop table IF EXISTS Location''')
connectionToDatabase.commit()

cursor.execute('''create table Location (LotID text PRIMARY KEY, Lotsize text, state text, city text, car text)''')
connectionToDatabase.commit()


cursor.execute('''insert into Location values ('3456731' ,'12', 'PA', 'State College', '2T3DK4DV8CW082696' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Location values ('1234731' ,'12', 'PA', 'State College', 'JH4KA4670LC010014' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Location values ('5675731' ,'12', 'PA', 'State College', 'JH4DB1570MS001469' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Location values ('9468731' ,'12', 'PA', 'State College', 'WBAKF9C52BE619303' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Location values ('4753731' ,'12', 'PA', 'State College', '1GCCT14R0H2164173' );''')
connectionToDatabase.commit()

Qustion 1

What was the average cost of cars sold?

This question is important because it gives the car dealership a better understanding of the sold cars' price average. The car dealership can increase efficiency by accuireing cars with in the average price of the most cars sold, so he can make sure to specilies certin cars segment that bring most revenue. The results matches our expectation because it is simmiler the to average selling price of used cars in the US which is $20,000 according to Statista.

In [21]:
cursor.execute('''select AVG(Price) From Car''')
for row in cursor.fetchall():
  print (row)

(17500.0,)

Qustion 2

what is the most expensive car sold?

This Qustion is importnat for the owner of the car dealership to know, so he can keep track that employees do not take a risky investment and acuire an expensive car, and he can mke sure that cars in his lot with his expectaion. the results matches or expectaions and logical becaus it is close to the average price of cars sold.

In [22]:
cursor.execute('''select * from Car ORDER BY price DESC Limit 1''')
for row in cursor.fetchall():
  print (row)

('JH4KA4670LC010014', 23000, 'BMW', 30000, 'Black')

Qustion 3

What cars needed maintenance before being sold?

This question is important because it allows us to know whether or not a vehicle needs maintenance before being sold. This question will provide information towards the person purchasing the vehicle and lets them know the status of their vehicle as well. Our policy indicats that cars has more the 50,000 miles needs a maintenance before being deliverd to the customer. The results are matches our expectaions.

In [23]:
cursor.execute('''select * from Car valus WHERE Miles > 50000''')
for row in cursor.fetchall():
  print (row)

('2T3DK4DV8CW082696', 15000, 'Ford', 60000, 'Red')
('JH4DB1570MS001469', 12500, 'Jeep', 90000, 'Black')
('WBAKF9C52BE619303', 17000, 'Mercedes', 70000, 'White')